body {
    background-color: #A9A9A9;
    /*background-image: url(images/bo_play_pattern.png);*/
    background-image:  url(images/future.jpg);
    color: white;
    font-family: 'Rationale', sans-serif;
}

td:hover {
    background: rgba(0, 0, 0, 0.3);
}


#keymap
{
    width: 85%;
}
.buttons button{
    background-color: #19ecc3;
    float:right;
    color: purple;
    margin:20px;

}
.modarcl-body {
    margin: 60px 60px 60px 60px;
}
.sound:hover
{
    background-color: #3399ff;
    transition: .5s ;
    cursor: pointer; 
}


table {
    border-collapse: collapse;
    border: 1px solid blue;
    font-size: 18px;
}

.binder:hover
{
     background-color: blue;
    transition:all 0.5s;
    cursor: pointer; 
}
#record.recording {
    background-color: red;
    
}

.container
{
    width: 100vh;
    border-style: double;
    border-width: 25px;
    margin-top: 25px;
    background: rgba(0,0,0,0.8);
}
h1
{
    font-family: 'Rationale', sans-serif;
}
img { 
    height: 100px;
    width: 100px;
}

